<div class="hex-nav hex-nav-desktop">
    <div class="hex-row">
        <div class="hex-container">
            <div class="hex">
                <div class="hex-outer">
                    <!--style="background:url(/content/images/2015/04/dogcandle.jpg) 50% 50% no-repeat;background-size:cover;"-->
                    <div class="hex-inner" >
                        <div class="hex-text-wrap">
                            <div class="hex-text"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hex-container">
            <div class="hex">
                <div class="hex-outer">
                    <div class="hex-inner" >
                        <div class="hex-text-wrap">
                            <div class="hex-text"><a class="black-link md-title" href="/tags/design/">Design</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hex-container">
            <div class="hex">
                <div class="hex-outer">
                    <div class="hex-inner" >
                        <div class="hex-text-wrap">
                            <div class="hex-text"><a class="black-link md-title" href="/tags/things/">Things</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hex-container">
            <div class="hex">
                <div class="hex-outer">
                    <div class="hex-inner" >
                        <div class="hex-text-wrap">
                            <div class="hex-text"><a class="black-link md-title" href="/tags/diy/">DIY</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="hex-row hex-row-2">
        <div class="hex-container">
            <div class="hex">
                <div class="hex-outer">
                    <div class="hex-inner" >
                        <div class="hex-text-wrap">
                            <div class="hex-text"><a class="black-link md-title" href="/tags/fitness/">Fitness</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hex-container">
            <div class="hex">
                <div class="hex-outer">
                    <div class="hex-inner" >
                        <div class="hex-text-wrap">
                            <div class="hex-text"><a class="black-link md-title" href="/about">About</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        

    </div>

    <div class="hex-row hex-row-3">
        <div class="hex-container">
            <div class="hex">
                <div class="hex-outer">
                    <div class="hex-inner" >
                        <div class="hex-text-wrap">
                            <div class="hex-text"><a class="black-link md-title" href="/tags/travel/">Travel</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hex-container">
            <div class="hex">
                <div class="hex-outer">
                    <div class="hex-inner" >
                        <div class="hex-text-wrap">
                            <div class="hex-text"><a class="black-link md-title" href="/tags/food/">Food</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hex-container">
            <div class="hex">
                <div class="hex-outer">
                    <div class="hex-inner" >
                        <div class="hex-text-wrap">
                            <div class="hex-text"><a class="black-link md-title" href="/tags/jewelry/">Jewelry</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hex-row hex-row-4">
        <div class="hex-container">
            <div class="hex">
                <div class="hex-outer">
                    <div class="hex-inner" style="visibility:hidden">
                            <div class="hex-text-wrap"> 
                                <div class="hex-text">Cooking</div> 
                            </div> 
                    </div>
                </div>
            </div>
        </div>
        <div class="hex-container">
            <div class="hex">
                <div class="hex-outer">
                    <div class="hex-inner" >
                        <div class="hex-text-wrap">
                            <div class="hex-text"><a class="black-link md-title" href="/about">Subscribe</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hex-container">
            <div class="hex">
                <div class="hex-outer">
                    <div class="hex-inner" >
                        <div class="hex-text-wrap">
                            <div class="hex-text"><a class="black-link md-title" href="/tags/art/">Art</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hex-container">
            <div class="hex">
                <div class="hex-outer">
                    <div class="hex-inner" >
                        <div class="hex-text-wrap">
                            <div class="hex-text"><a class="black-link md-title" href="/tags/style/">Style</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hex-container">
            <div class="hex">
                <div class="hex-outer">
                    <div class="hex-inner" >
                        <div class="hex-text-wrap">
                            <div class="hex-text"><a class="black-link md-title" href="/tags/colorado/">Colorado</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="hex-row hex-row-5">
        <div class="hex-container">
            <div class="hex">
                <div class="hex-outer">
                    <div class="hex-inner"  >
                            <div class="hex-text-wrap"> 
                                <div class="hex-text">Cooking</div> 
                            </div> 
                    </div>
                </div>
            </div>
        </div>
        <div class="hex-container">
            <div class="hex">
                <div class="hex-outer">
                    <div class="hex-inner"  style="">
                            <div class="hex-text-wrap"> 
                                <div class="hex-text">Cooking</div> 
                            </div> 
                    </div>
                </div>
            </div>
        </div>
        <div class="hex-container">
            <div class="hex">
                <div class="hex-outer">
                    <div class="hex-inner"  >
                            <div class="hex-text-wrap"> 
                                <div class="hex-text">Cooking</div> 
                            </div> 
                    </div>
                </div>
            </div>
        </div>
        <div class="hex-container">
            <div class="hex">
                <div class="hex-outer">
                    <div class="hex-inner"  >
                            <div class="hex-text-wrap"> 
                                <div class="hex-text">Cooking</div> 
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

                

</div>