<div class="hex-nav hex-nav-desktop">
    <div class="hex-row">
        <div class="hex-container">
            <div class="hex">
                <div class="hex-outer">
                    <!--style="background:url(/img/dogcandle.jpg) 50% 50% no-repeat;background-size:cover;"-->
                    <div class="hex-inner" >
                        <!--<div class="hex-text-wrap">
                            <div class="hex-text"></div>
                        </div>-->
                    </div>
                </div>
            </div>
        </div>
        <div class="hex-container">
            <div class="hex">
                <div class="hex-outer">
                    <div class="hex-inner" style="background:url('public/img/nav-about.jpg') 50% 50% no-repeat;background-size:cover;">
                        <div class="hex-text-wrap">
                            <div class="hex-text"><a class="black-link md-body-1 nav-link-text" href="/about">About Me</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hex-container">
            <div class="hex">
                <div class="hex-outer">
                    <div class="hex-inner" style="background:url('public/img/dogcandle.jpg') 50% 50% no-repeat;background-size:cover;">
                        <!--<div class="hex-text-wrap">
                            <div class="hex-text"><a class="black-link md-body-1 nav-link-text" href="/tags/things/">Things</a></div>
                        </div>-->
                    </div>
                </div>
            </div>
        </div>
        <div class="hex-container">
            <div class="hex">
                <div class="hex-outer">
                    <div class="hex-inner" style="background:url('public/img/nav-diy.jpg') 50% 50% no-repeat;background-size:cover;">
                        <div class="hex-text-wrap">
                            <div class="hex-text"><a class="black-link md-body-1 nav-link-text" href="/tags/diy/">DIY</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="hex-row hex-row-2">
        <div class="hex-container">
            <div class="hex">
                <div class="hex-outer">
                    <div class="hex-inner">
                        <!--<div class="hex-text-wrap">
                            <div class="hex-text"><a class="black-link md-body-1 nav-link-text" href="/tags/fitness/">Fitness</a></div>
                        </div>-->
                    </div>
                </div>
            </div>
        </div>
        <div class="hex-container">
            <div class="hex">
                <div class="hex-outer">
                    <div class="hex-inner" style="background:url('public/img/nav-colorado.jpg') 50% 50% no-repeat;background-size:cover;">
                        <div class="hex-text-wrap">
                            <div class="hex-text"><a class="black-link md-body-1 nav-link-text" href="/tags/colorado">Colorado</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        

    </div>

    <div class="hex-row hex-row-3">
        <div class="hex-container">
            <div class="hex">
                <div class="hex-outer">
                    <div class="hex-inner" >
                        <!--<div class="hex-text-wrap">
                            <div class="hex-text"><a class="black-link md-body-1 nav-link-text" href="/tags/travel/">Travel</a></div>
                        </div>-->
                    </div>
                </div>
            </div>
        </div>
        <div class="hex-container">
            <div class="hex">
                <div class="hex-outer">
                    <div class="hex-inner" style="background:url('public/img/nav-food.jpg') 50% 50% no-repeat;background-size:cover;">
                        <div class="hex-text-wrap">
                            <div class="hex-text"><a class="black-link md-body-1 nav-link-text" href="/tags/cooking/">Cooking</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hex-container">
            <div class="hex">
                <div class="hex-outer">
                    <div class="hex-inner" >
                        <!--<div class="hex-text-wrap">
                            <div class="hex-text"><a class="black-link md-body-1 nav-link-text" href="/tags/jewelry/">Jewelry</a></div>
                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hex-row hex-row-4">
        <div class="hex-container">
            <div class="hex">
                <div class="hex-outer">
                    <div class="hex-inner" style="visibility:hidden">
                            <div class="hex-text-wrap"> 
                                <div class="hex-text">Cooking</div> 
                            </div> 
                    </div>
                </div>
            </div>
        </div>
        <div class="hex-container">
            <div class="hex">
                <div class="hex-outer">
                    <div class="hex-inner" style="background:url('public/img/gbox.jpg') 50% 50% no-repeat;background-size:cover;">
                        <div class="hex-text-wrap">
                            <div class="hex-text"><a class="black-link md-body-1 nav-link-text" href="/tags/glossybox">Glossy Box</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hex-container">
            <div class="hex">
                <div class="hex-outer">
                    <div class="hex-inner" >
                        <!--<div class="hex-text-wrap">
                            <div class="hex-text"><a class="black-link md-body-1 nav-link-text" href="/tags/art/">Art</a></div>
                        </div>-->
                    </div>
                </div>
            </div>
        </div>
        <div class="hex-container">
            <div class="hex">
                <div class="hex-outer">
                    <div class="hex-inner" style="background:url('public/img/nav-style.jpg') 50% 50% no-repeat;background-size:cover;">
                        <!--<div class="hex-text-wrap">
                            <div class="hex-text"></div>
                        </div>-->
                    </div>
                </div>
            </div>
        </div>
        <div class="hex-container">
            <div class="hex">
                <div class="hex-outer">
                    <div class="hex-inner" >
                        <!--<div class="hex-text-wrap">
                            <div class="hex-text"><a class="black-link md-body-1 nav-link-text" href="/tags/colorado/">Colorado</a></div>
                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="hex-row hex-row-5">
        <div class="hex-container">
            <div class="hex">
                <div class="hex-outer">
                    <div class="hex-inner"  >
                            <!--<div class="hex-text-wrap"> 
                                <div class="hex-text">Cooking</div> 
                            </div> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="hex-container">
            <div class="hex">
                <div class="hex-outer">
                    <div class="hex-inner"  style="background:url('public/img/nav-art.jpg') 50% 50% no-repeat;background-size:cover;">
                            <div class="hex-text-wrap"> 
                                <div class="hex-text"><a class="black-link md-body-1 nav-link-text" href="/tags/art/">Art</a></div> 
                            </div> 
                    </div>
                </div>
            </div>
        </div>
        <div class="hex-container">
            <div class="hex">
                <div class="hex-outer">
                    <div class="hex-inner" style="background:url('public/img/reading.png') 50% 50% no-repeat;background-size:cover;">
                            <div class="hex-text-wrap"> 
                                <div class="hex-text"><a class="black-link md-body-1 nav-link-text" href="/tags/reading/">Reading</a></div> 
                            </div> 
                    </div>
                </div>
            </div>
        </div>
        <div class="hex-container">
            <div class="hex">
                <div class="hex-outer">
                    <div class="hex-inner"  >
                            <!--<div class="hex-text-wrap"> 
                                <div class="hex-text">Cooking</div> 
                            </div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>

                

</div>

<div class="hex-nav hex-nav-mirror">
    <div class="hex-row">
        <div class="hex-container">
            <div class="hex">
                <div class="hex-outer">
                    <!--style="background:url(/content/images/2015/04/dogcandle.jpg) 50% 50% no-repeat;background-size:cover;"-->
                    <div class="hex-inner" >
                        <!--<div class="hex-text-wrap">
                            <div class="hex-text"></div>
                        </div>-->
                    </div>
                </div>
            </div>
        </div>
        <div class="hex-container">
            <div class="hex">
                <div class="hex-outer">
                    <div class="hex-inner" style="background:url('public/img/nav-travel.jpg') 90% 50% no-repeat;background-size:cover;">
                        <div class="hex-text-wrap">
                            <div class="hex-text"><a class="black-link md-body-1 nav-link-text" href="/tags/travel/">Travel</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hex-container">
            <div class="hex">
                <div class="hex-outer">
                    <div class="hex-inner" style="background:url('public/img/tulips.jpg') 50% 50% no-repeat;background-size:cover;" >
                        <!--<div class="hex-text-wrap">
                            <div class="hex-text"><a class="black-link md-body-1 nav-link-text" href="/tags/things/">Things</a></div>
                        </div>-->
                    </div>
                </div>
            </div>
        </div>
        
    </div>

    <div class="hex-row hex-row-2">
        <div class="hex-container">
            <div class="hex">
                <div class="hex-outer">
                    <div class="hex-inner" style="background:url('public/img/clipboards.jpg') 50% 50% no-repeat;background-size:cover;">
                        <div class="hex-text-wrap">
                            <div class="hex-text"><a class="black-link md-body-1 nav-link-text" href="/tags/5things/">5Things</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hex-container">
            <div class="hex">
                <div class="hex-outer">
                    <div class="hex-inner" >
                        <!--<div class="hex-text-wrap">
                            <div class="hex-text"><a class="black-link md-body-1 nav-link-text" href="/about">About</a></div>
                        </div>-->
                    </div>
                </div>
            </div>
        </div>
        

    </div>

    <div class="hex-row hex-row-3">
        <div class="hex-container">
            <div class="hex">
                <div class="hex-outer">
                    <div class="hex-inner" >
                        <!--<div class="hex-text-wrap">
                            <div class="hex-text"><a class="black-link md-body-1 nav-link-text" href="/tags/travel/">Travel</a></div>
                        </div>-->
                    </div>
                </div>
            </div>
        </div>
        <div class="hex-container">
            <div class="hex">
                <div class="hex-outer">
                    <div class="hex-inner"  style="background:url('public/img/coffeepic.jpg') 50% 50% no-repeat;background-size:cover;">
                        <!--<div class="hex-text-wrap">
                            <div class="hex-text"><a class="black-link md-body-1 nav-link-text" href="/tags/food/">Food</a></div>
                        </div>-->
                    </div>
                </div>
            </div>
        </div>
       
    </div>
    <div class="hex-row hex-row-4">
        
       
        <div class="hex-container">
            <div class="hex">
                <div class="hex-outer">
                    <div class="hex-inner" >
                        <div class="hex-text-wrap">
                            <div class="hex-text"><a class="black-link md-body-1 nav-link-text" href="/tags/art/">Art</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hex-container">
            <div class="hex">
                <div class="hex-outer">
                    <div class="hex-inner" >
                        <!--<div class="hex-text-wrap">
                            <div class="hex-text"><a class="black-link md-subhead nav-link-text" href="/tags/style/">Style</a></div>
                        </div>-->
                    </div>
                </div>
            </div>
        </div>
        <div class="hex-container">
            <div class="hex">
                <div class="hex-outer">
                    <div class="hex-inner" style="background:url('public/img/fitness.png') 0% 50% no-repeat;background-size:cover;">
                        <div class="hex-text-wrap">
                            <div class="hex-text"><a class="black-link md-subhead nav-link-text" href="/tags/fitness/">Fitness</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="hex-row hex-row-5">
        <div class="hex-container">
            <div class="hex">
                <div class="hex-outer">
                    <div class="hex-inner"  >
                            <!--<div class="hex-text-wrap"> 
                                <div class="hex-text">Cooking</div> 
                            </div> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="hex-container">
            <div class="hex">
                <div class="hex-outer">
                    <div class="hex-inner" style="background:url('public/img/shutupeggs.jpg') 50% 50% no-repeat;background-size:cover;">
                            <!--<div class="hex-text-wrap"> 
                                <div class="hex-text">Cooking</div> 
                            </div> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="hex-container">
            <div class="hex">
                <div class="hex-outer">
                    <div class="hex-inner"  >
                            <!--<div class="hex-text-wrap"> 
                                <div class="hex-text">Cooking</div> 
                            </div> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="hex-container">
            <div class="hex">
                <div class="hex-outer">
                    <div class="hex-inner" style="background:url('public/img/lifestuff.png') 50% 50% no-repeat;background-size:cover;">
                            <div class="hex-text-wrap"> 
                                <div class="hex-text"><a class="black-link md-body-1 nav-link-text" href="/tags/lifestuff/">Life Stuff</a></div> 
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

                

</div>