 <md-card class="post-card white-bg" ng-repeat="post in posts">

	<!--<img ng-src="{{post.coverImg}}" class="md-card-image post-card-img">-->
	
	<div class="post-card-img"
		alt="{{post.title}}" style="background-image:url('{{post.coverImg}}'); background-size:cover; background-position:center">
		<!--For Pin-it Button -->
		<img style="width:0px;height:0px;" src="{{post.coverImg}}" alt="{{post.title}}">
		
	</div>
	
	<md-card-title>
		<md-card-title-text class="text-center">
			<p class="home-post-title md-display-1">{{post.title}}</p>
			<p class="date-text">{{post.createdAt}}</p>
		</md-card-title-text>
	</md-card-title>
	<md-card-content class="md-subhead o-h">
		{{post.preview}}
	</md-card-content>
	<md-card-actions layout="row" layout-align="end center">
		
		<!--<a data-pin-do="buttonBookmark" data-pin-tall="true" data-pin-round="true" href="https://www.pinterest.com/pin/create/button/">
			<img src="//assets.pinterest.com/images/pidgets/pinit_fg_en_round_red_32.png" />
		</a>-->
		<a ng-href="/posts/{{post._id}}#comments" target="_blank">
			<md-button>
				{{commentLengthChecker(post)}} Comments
			</md-button>
		</a>
		<a ng-href="/posts/{{post._id}}" target="_blank">
			<md-button class="md-raised">
				Read More
			</md-button>
		</a>
	</md-card-actions>
</md-card>















<!--
<md-content class="md-padding" layout="column">
	
	<div flex="100" ng-repeat="post in posts">
		
			<h3 class="home-post-title md-display-2">
				<a class="gray-link" ng-href="/posts/{{post._id}}" target="_blank">
					{{post.title}}
				</a>		
			</h3>
			<p class="date-text">{{post.createdAt}}</p>
		<p class="home-post-preview"> 
			<div class="md-subhead o-h" ng-bind-html="$sce.trustAsHtml(post.content)"></div>
		</p>
		
		<md-chips ng-model="post.tags" readonly="true">
			<md-chip-template>
				<a class="black-link" ng-href="/tags/{{$chip.name}}">
					<p>{{$chip.name}}</p>
					<md-tooltip>
						See {{$chip.name | uppercase}} Posts
					</md-tooltip>
				</a>
			</md-chip-template>
		</md-chips>
	</div>
</md-content>-->
