<md-content class="md-padding" layout="column">
	
	<div flex="100" ng-repeat="post in posts">
		
		<!--Title and Preview -->
			<h3 class="home-post-title md-display-2">
				<a class="gray-link" ng-href="/posts/{{post._id}}" target="_blank">
					{{post.title}}
				</a>		
			</h3>
			<p class="date-text">{{post.createdAt}}</p>
		<p class="home-post-preview"> 
			<div class="md-subhead o-h" ng-bind-html="$sce.trustAsHtml(post.content)"></div>
		</p>
		
		<!--Tag List-->
		<md-chips ng-model="post.tags" readonly="true">
			<md-chip-template>
				<a class="black-link" ng-href="/tags/{{$chip.name}}">
					<p>{{$chip.name}}</p>
					<md-tooltip>
						See {{$chip.name | uppercase}} Posts
					</md-tooltip>
				</a>
			</md-chip-template>
		</md-chips>
		<!--<md-divider ng-if="!$last"></md-divider>-->
	</div>
</md-content>
