<div>
	<md-card class="post-card white-bg">
		<md-card-title>
			
			<md-toolbar class="gains-bg">
				<div class="md-toolbar-tools">
					<h3 class="text-center full-width">
						Welcome!
					</h3>
				</div>
			</md-toolbar>
			
		</md-card-title>
		<md-card-content>
			
			<p>I'm Clarissa, and I totally do, explain it all (thank you, thank you, I'll be here all night).
				<a class="pull-right" ng-href="/about">READ MORE</a>
			</p>
			<br>
			<!--<div></div>-->
			<div class="sidenav-about-pic"
				style="background-image:url('public/img/intro-pic.png'); background-size:cover; background-position:center"
			></div>
			<br>
			<p>
				<strong>The View From Here</strong> is my personal exploration into creativity, DIY projects, recipes, and incredible places.
			</p>
		</md-card-content>
	</md-card>
		
		
</div>