<script type="text/javascript" src="https://widget.influenster.com/widget/91236d95b3e1a1b9af2edfe5dcee967f?callback=showInfluensterWidget"></script>

<div>
	<md-card class="post-card side-nospacing white-bg ">
		<md-card-title>

			<md-toolbar class="gains-bg ">
				<div class="md-toolbar-tools ">
					<h3 class="text-center full-width font-modesty font-45 ">
						welcome!
					</h3>
				</div>
			</md-toolbar>

		</md-card-title>
		<md-card-content>

			<p> <strong>The View From Here</strong> is :
				<p>
					<p>Discovering creativity (and if we're honest, humility) through DIY projects &amp; recipes, while attempting to explore
						the world one paycheck at a time
					</p>
					<br>
					<!--<div></div>-->
					<div class="sidenav-about-pic " style="background-image:url( 'public/img/intro-pic.png'); background-size:cover; background-position:center "></div>
					<br>
					<p>
						Thank you for stopping by - I'm happy to have you here!


					</p>
					<a ng-href="/about">
						<md-button class="pull-right font-mod read-more-btn">
							Read More
						</md-button>
					</a>
		</md-card-content>
	</md-card>
	<md-card class="post-card side-spacing white-bg ">
		<md-card-title>

			<md-toolbar class="gains-bg ">
				<div class="md-toolbar-tools ">
					<h3 class="text-center full-width font-modesty font-45 ">
						subscribe
					</h3>
				</div>
			</md-toolbar>

		</md-card-title>
		<md-card-content>
			<div flex="100">
				<p class="text-center"><strong>Never Miss A Post!</strong></p>
				<p class="text-center">Sign up below for the monthly newsletter - no spam or annoying emails... promise!</p>
			</div>
			<form analytics-on="submit" analytics-label="Email Subscribe" analytics-event="Subscribe" ng-submit="socialFactory.subscribe(subscriber)">

				<div flex="100">
					<md-input-container class="display-block" flex="100">
						<label class="md-subhead">Email</label>
						<input ng-model="subscriber.email">
					</md-input-container>
				</div>
				<div flex="100">
					<div layout="row" layout-sm="column" layout-align="center">
						<md-button type="submit" class="md-raised md-button md-ink-ripple full-width">Sign Me Up!</md-button>

					</div>
				</div>
			</form>

			<div class="margin-top-small text-center" flex="100">
				<md-progress-circular ng-if="subscriber.loading" class="margin-auto" md-mode="indeterminate"></md-progress-circular>
				<p>{{socialFactory.subscribeSuccess}}</p>
			</div>
		</md-card-content>
	</md-card>

	<md-card class="post-card side-spacing pin-sidebar white-bg ">
		<md-card-title>

			<md-toolbar class="gains-bg ">
				<div class="md-toolbar-tools ">
					<a target="_blank " class="full-width " href="https://www.pinterest.com/viewfromhereis/ ">
						<h3 class="text-center font-modesty font-45 ">
							pinterest
						</h3>
					</a>
				</div>
			</md-toolbar>

		</md-card-title>
		<md-card-content>
			<!--<a data-pin-do="embedBoard " data-pin-board-width="222 " data-pin-scale-height="500 " data-pin-scale-width="60
	" href="https://www.pinterest.com/viewfromhereis/the-view-from-here-places/ "></a>-->
			<!--<a data-pin-do="embedUser " data-pin-board-width="222 " data-pin-scale-height="300 " data-pin-scale-width="60
	" href="https://www.pinterest.com/viewfromhereis/ "></a>-->
			<!--<pin-profile username=" 'viewfromhereis' " image-width=" '20' " board-height=" '300' " board-width=" '172' "></pin-profile>-->
			<div class="pinterest-pin-container " layout="row " layout-wrap>
				<div layout="column " flex="50 " class="pinterest-pin " ng-repeat="sidebarPin in socialData.sidebarPins ">
					<a ng-href="{{sidebarPin.url}} " target="_blank ">
						<div class="pinterest-pin-img " style="background-image:url( '{{sidebarPin.image.original.url}}'); background-size:cover;
	background-position:center; "></div>
					</a>
				</div>
			</div>

		</md-card-content>
	</md-card>
	<md-card class="post-card side-spacing white-bg ">
		<md-card-title>

			<md-toolbar class="gains-bg ">
				<div class="md-toolbar-tools ">
					<a target="_blank " class="full-width " href="https://www.instagram.com/clarissa_chappell/?ref=badge ">
						<h3 class="text-center font-modesty font-45 ">
							instagram
						</h3>
					</a>
				</div>
			</md-toolbar>

		</md-card-title>
		<md-card-content>
			<!--<iframe style="width:100%; height:210px " src="//lightwidget.com/widgets/fc2ad108a062f3e4ca2cc0fc31a0dd7c24619ca7.html
	" id="lightwidget_fc2ad108a0 " name="lightwidget_fc2ad108a0 " scrolling="no " allowtransparency="true " class="lightwidget-widget
	" style="width: 100%; border: 0; overflow: hidden; "></iframe>-->
			<iframe src="https://snapwidget.com/embed/313441" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:209px; height:209px"></iframe>

		</md-card-content>
	</md-card>

	<md-card class="post-card side-spacing white-bg ">
		<md-card-title>

			<md-toolbar class="gains-bg ">
				<div class="md-toolbar-tools ">
					<h3 class="full-width text-center font-modesty font-45 ">
						suggested posts
					</h3>
				</div>
			</md-toolbar>

		</md-card-title>

		<md-card-content>
			<div class="more-post" ng-repeat="post in morePosts">
				<a class="black-link" target="_blank" href="/posts/{{post.slug}}">
					<img style="width:0px;height:0px;" src="{{post.coverImg}}" alt="{{post.title}}">
					<div class="more-post-title text-center md-subhead">{{post.title}}</div>
					<div class="more-post-img" style="background-image:url('{{post.coverImg}}'); background-size:cover; background-position:center"></div>
				</a>

			</div>
		</md-card-content>

	</md-card>
	<div id="influenster-widget-container"></div>

	<!--<md-card>
		<div id="mNCC" ng-init="socialFactory.adInit()">
			
		</div>
		
	</md-card>-->
</div>