.ad-divider


footer
	span © 2017 The View From Here ||
		| <a href="mailto:clarissa@theviewfromhere.is">clarissa@theviewfromhere.is</a>

<a href="http://www.brandbacker.com" title="BrandBacker Member" alt="BrandBacker Member" target="_blank"><img src="http://images.brandbacker.com/badges/no_badge.png"></a>

<script>
function showInfluensterWidget(data){
    document.getElementById('influenster-widget-container').innerHTML = data.widget_html;
}
</script>
<script type="text/javascript" src="https://widget.influenster.com/widget/91236d95b3e1a1b9af2edfe5dcee967f?callback=showInfluensterWidget"></script>