.ad-divider
script(async='', src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
ins.adsbygoogle(style='display:block', data-ad-client='ca-pub-8818609511592337', data-ad-slot='9365830008', data-ad-format='auto')
script.
	(adsbygoogle = window.adsbygoogle || []).push({});

footer
	span © 2016 The View From Here