<nav navheight="navheight"></nav>
<h1 class="md-title text-center"> Create Post </h1>


<div layout="row" layout-wrap class="container">
	
	<div flex="100">
		<md-input-container class="display-block" flex="100">

			<label class="md-headline">Title</label>
			<input ng-model="newPost.title">
			
		</md-input-container>
	</div>
	<div flex="33">
		<h1 class="md-title"> Date </h1>
		
		<md-datepicker ng-model="newPost.createdAt"></md-datepicker>
		
	</div>
    <div flex="67">
		<h1 class="md-title"> Upload Photos </h1>

		<!--<md-button class="button-ex-pad button-med md-raised md-accent">Create Post!</md-button>-->


 		 <md-button class="button-ex-pad button-med md-raised md-primary" 
		  	ngf-pattern="'image/*'"
    		ngf-accept="'image/*'" 
			ngf-select 
			ng-model="files" 
			ngf-multiple="true" 
			ngf-resize="{width: 1600, quality:0.8}"
			ngf-fix-orientation="true"
			ngf-resize-if="resizeCheck($file, $width, $height)">
			
			Select
		</md-button>
  		
		<div layout="row" layout-wrap>
			<div ng-repeat="file in files">
				<div layout="row">
					<div>
						<img width="150" ngf-thumbnail="file">
					</div>
					<div>
						{{file.url}}
						
					</div>
				</div>
			</div>
		</div>
	  <md-button class="button-ex-pad button-med md-raised md-accent" type="submit" ng-click="submit()">submit</md-button>
    </div>
	
	<div flex="100">
		<md-input-container class="display-block" flex="100">

			<label class="md-headline">Cover Image URL</label>
			<input ng-model="newPost.coverImg">
			
		</md-input-container>
	</div>
	<div flex="100">		
		<md-input-container class="display-block" flex="100">

			<label class="md-headline">Post Preview</label>
			<textarea rows="3" ng-model="newPost.preview"></textarea>
			
		</md-input-container>
	</div>
	
	<div flex="100">
		<md-input-container class="display-block" flex="100">

			<label class="md-headline">Long Pin Image URL</label>
			<input ng-model="newPost.pinImg">
			
		</md-input-container>
	</div>
	
	
	<div flex="100">
		<!--<text-angular ng-model="newPost.content"></text-angular>-->
		 <textarea class="content-edit-container" ui-tinymce="tinymceOptions" ng-model="newPost.content"></textarea>
		<!--<ng-quill-editor 
			ng-model="message" 
			toolbar="true" 
			link-tooltip="true" 
			image-tooltip="true" 
			toolbar-entries="font size bold list bullet italic underline strike align color background link image" 
			editor-required="true" 
			error-class="input-error">
			
		</ng-quill-editor>-->
		
		
	<div>
	 
	<div flex="100">
		
		<!--This is for auto-complete chips - probably need this!-->
		<!--<md-chips ng-model="tags" md-autocomplete-snap md-require-match="true">
			<md-autocomplete
				md-selected-item="selectedTag"
				md-search-text="tagText"
				md-items="tag in querySearch(tagText)"
				md-item-text="tag.name"	
				placeholder="Tag">
				<span md-highlight-text="tagText">{{tag.name}}</span>
			</md-autocomplete>
			<md-chip-template>
				<span>
					<strong>{{$chip.name}}</strong>
				</span>
			</md-chip-template>
		</md-chips>
		-->
		<h1 class="md-title"> Tags </h1>
		<md-chips ng-model="newPost.tags">
			 <input placeholder="Tag">	
		</md-chips>
	
		
		
		
	</div> 
	 
	 <div flex="100">
		<div layout="row" layout-sm="row" layout-align="center">
			<p class="md-body-2 warning-text">{{postError}}</p>
		</div>
	</div>
	 
	<div flex="100" class="margin-top-med">
		<div layout="row" layout-sm="column" layout-align="end">
			<md-progress-circular ng-if="loading" class="loader-space" md-mode="indeterminate"></md-progress-circular>
			
			<md-button ng-click="submitPost()" class="button-ex-pad button-med md-raised md-accent">Create Post!</md-button>
			
		</div>
	</div>
	
	
	

</div>
