<nav navheight="navheight"></nav>
<h1 class="md-title"> Admin DASH </h1>


<div layout="row" class="dashboard-container">
	
	<div flex="70" layout="row" flex-offset="15">
		
		<div flex="50" layout="column" layout-align="center">
			<md-button ng-click="updatePost()" class="dash-main-button md-raised md-primary">Update Post</md-button>
		</div>
		
		<div flex="50" layout="column" layout-align="center">
			<md-button ng-click="addPost()" class="dash-main-button md-raised md-accent">Add Post</md-button>			
		</div>
		
	</div>
	
	
</div>

