<h1>Admin Login</h1>

<form ng-submit="login()">
	<md-input-container flex>
    	<label>Email</label>
    	<input ng-model="adminUser.email">
    </md-input-container>
	<md-input-container flex>
    	<label>Password</label>
    	<input type="password" ng-model="adminUser.password">
    </md-input-container>
	<md-button class="pull-right">Login</md-button>
</form>

<div ng-if="loginProgress" layout="row" layout-sm="column" layout-align="end">
	<md-progress-circular md-mode="indeterminate"></md-progress-circular>
</div>

<div layout="row" layout-sm="row" layout-align="center">
	<p class="md-body-2 warning-text">{{loginError}}</p>
</div>