.approved-comment
	background-color : rgb(75, 191, 107)
	
.unapproved-comment
	background-color : white
	box-shadow: 0px 5px 10px grey
.comment-checkbox
	position: relative
	right: 0
	bottom: 30px


.comment-reply-form
	position relative

.comment-reply-button
	position: relative
	left: 86.5%
	width 60px
.comment-info
	width 100%

.collapsible-comment-form
	overflow hidden
	height:360px
	transition: height 0.4s ease
	&.ng-hide
		height:0px

.comment-list-item
	border-left 5px rgba(0,0,0,0.12) solid
	margin 5px 0px
	border-bottom 1px rgba(0,0,0,0.12) solid
.subcomment-list-item
	background-color rgba(200,200,200,0.12)
	border-left 2px rgba(0,0,0,0.12) solid
	// margin 5px 0px

.minor-text-pad
	padding 0px 5px