.main-header
	height:80vh
	
	@media $screen-sm
		height:50vh
		
	&.header-small
		height 200px
	
.tool-large
	min-height:0px
	height:20vh
	
	@media $screen-sm
		height 3px

.container
	padding 0
	max-width 1200px