.main-header
	height:80vh
	
	@media $screen-sm
		height:20vh
		
	&.header-small
		height 200px
.main-header-text
	font-family: 'Modesty'
	font-size: 76px
	line-height:80px
.tool-large
	min-height:0px
	height:20vh
	
	@media $screen-sm
		height 3px

.container
	padding 0
	max-width 1024px