.hex-row {
    clear: left
    height:100px
}
          
.hex-outer {
    overflow:hidden 
    width:100% 
    height:100% 
    transform:rotate(-60deg)
}
                
.hex-inner {
    overflow:hidden 
    position:relative 
    visibility:visible 
    width:100% 
    height:100% 
    transform:rotate(-60deg) 
    background:rgb(80,80,80)
    background:url(http://lorempixel.com/200/200/) 50% 50% no-repeat
}
                
.hex-text-wrap
    position:absolute
    top:0px 
    /*left:80px */
    width:100% 
    height:200px 
    z-index:500 
    background:rgba(255,255,255,0.8)
    transition:all 0.3s
    @media $screen-md
        top 200px
                
.hex-text{
    position:absolute 
    top:38px 
    /*left:52px */
    width:100%
    height:135px
    z-index:500
    /*border:1px solid red*/
}
.hex-text a
    display block
    text-align center           
.hex-inner:hover .hex-text-wrap{
    top:0px
}



.hex-nav-mobile
    
    margin auto
    max-width 250px
    @media $screen-sm
        max-width 500px
    
    .hex-row.hex-row-1
        margin-left:45px
        
    .hex-row.hex-row-2
        margin-left: 80px
        margin-top: -40px
        @media $screen-md
             margin-left: 45px
             margin-top: -22px
   
   
    .hex-row.hex-row-3
        margin-top: -40px;
        margin-left: 45px;
        @media $screen-md
            margin-top: -22px;
            margin-left: 90px;
    
    .hex-row.hex-row-4
        margin-top: -40px
        margin-left: 10px
        @media $screen-md
            margin-top: -22px
            margin-left: -45px
    
    
    .hex-row.hex-row-5
        margin-top: -40px
        margin-left: 45px
        @media $screen-md
            margin-top: -22px
            margin-left: 90px
    .hex-row.hex-row-6
        margin-top: 16px
        margin-left: 0px
    
    
    
    .hex
        float:left 
        overflow:hidden 
        visibility:hidden 
        width:65px
        height:100px
        transform:rotate(120deg) 
        margin:0 -69px -49px -42px 
        background:rgba(255,0,0,0.5)
        @media $screen-md
            width 85px
    
    .hex-container 
        display: inline-block
        width:65px
        @media $screen-md
            width 85px
    
    
    
.hex-nav-desktop, .hex-nav-mirror
    position absolute
    top 20px
    .hex-row.hex-row-1
        margin-left:45px
        
    .hex-row.hex-row-2
        margin-left: 45px
        margin-top: -22px
    
    .hex-row.hex-row-3
        margin-top: -22px;
        margin-left: 90px;
    
    .hex-row.hex-row-4
        margin-top: -22px
        margin-left: -45px
    
    
    .hex-row.hex-row-5
        margin-top: -22px
        margin-left: 90px
    
    .hex-row.hex-row-6
        margin-top: 16px
        margin-left: 0px
    
    
    
    .hex
        float:left 
        overflow:hidden 
        visibility:hidden 
        width:85px
        height:100px
        transform:rotate(120deg) 
        margin:0 -69px -49px -42px 
        background:rgba(255,0,0,0.5)
    
    .hex-container 
        display: inline-block
        width:85px
    



.invisible-hex
    opacity :0
.whiteframe-hex-container
    position relative
    overflow hidden
   
.hex-nav.hex-nav-mirror
    position absolute
    right: -8.7%
    direction rtl
    
    
    .hex-row.hex-row-1
        margin-right:45px
        
    .hex-row.hex-row-2
        margin-right: 45px
        margin-top: -22px
    
    .hex-row.hex-row-3
        margin-top: -22px;
        margin-right: 90px;
    
    .hex-row.hex-row-4
        margin-top: -22px
        margin-right: -45px
    
    
    .hex-row.hex-row-5
        margin-top: -22px
        margin-right: 0px
    
    .hex-row.hex-row-6
        margin-top: 16px
        margin-right: 0px

.nav-link-text
    font-weight 600