.mobile-nav-button
	font-family: 'Modesty'
	font-size 40px
	margin 10px 0px
	padding 10px 0px
	text-transform: lowercase
	font-weight 600

.desktop-nav
	display none
	text-align center
	@media $screen-md
		display flex

.md-sidenav-backdrop
	position:fixed
	top 0

.subscribe-container
	padding-top 20px
	overflow hidden
	height:100px
	transition: height 0.4s ease
	&.ng-hide
		height:0px
// .pin-sidebar
// 	padding:
.margin-auto
	margin auto

.nav-link
	font-weight: bold
	line-height:24px
	height:24px
	min-height 24px
	transition transform 0.4s ease

	&:hover
		background:none!important
		transform:scale(1.35)

.nav-link-div
	border-right 2px solid black
	
.nav-tool
	@media $screen-md
		margin-top 10px;