.mobile-nav-button
	font-family: 'Modesty'
	font-size 40px
	margin 10px 0px
	padding 10px 0px
	text-transform: lowercase
	font-weight 600

.desktop-nav
	display none
	@media $screen-md
		display flex

.md-sidenav-backdrop
	position:fixed
	top 0

.subscribe-container
	padding-top 20px
	overflow hidden
	height:100px
	transition: height 0.4s ease
	&.ng-hide
		height:0px
// .pin-sidebar
// 	padding: