@media (max-width: 767px)
	.hide-xs 
		display: none !important

@media (min-width: 768px) and (max-width: 991px)
	.hide-sm 
		display: none !important

@media (min-width: 992px) and (max-width: 1199px)
	.hide-md 
		display: none !important

@media (min-width: 1200px)
	.hide-lg 
		display: none !important


.pull-right
	float:right
.margin-top-small
	margin-top 30px
.margin-top-med
	margin-top 45px
.margin-top-large
	margin-top 60px
.button-med
	height:50px
.button-ex-pad
	padding 5px 15px
	margin:0
.loader-space
	margin 0px 15px
	
.text-center
	text-align center
	
#hamburger-nav
	font-size 36px
	position absolute
	top 0
	right 0
	padding 10px
.md-sidenav-right
	position : fixed
	max-width 80vw
	width 80vw
	