@media (max-width: 767px)
	.hide-xs 
		display: none !important

@media (min-width: 768px) and (max-width: 991px)
	.hide-sm 
		display: none !important

@media (min-width: 992px) and (max-width: 1199px)
	.hide-md 
		display: none !important

@media (min-width: 1200px)
	.hide-lg 
		display: none !important


.pull-right
	float:right