.display-block
	display block
.pull-right
	float:right
.margin-top-small
	margin-top 30px
.margin-top-med
	margin-top 45px
.margin-top-large
	margin-top 60px
.button-med
	height:50px
.button-ex-pad
	padding 5px 15px
	margin:0
.loader-space
	margin 0px 15px
.full-width
	width 100%
a.full-width
	display block
.text-center
	text-align center
	
#hamburger-nav
	font-size 36px
	position fixed
	top 0
	right 0
	padding 10px
	z-index 10
.md-sidenav-right
	position : fixed
	max-width 80vw
	width 80vw

.main-header-text
	z-index 2
.black-link
	color black
	&:hover
		color black
		text-decoration none
.black-link.comment-link:hover
	text-decoration underline
.gray-link
	color rgb(96,125,139)
	&:hover
		color black
		text-decoration none
.gray-text
	color rgb(96,125,139)
.date-text
	font-style italic

@media (min-width: 600px){
	.container {
		width:100%
	}
}
.o-h
	overflow hidden

.total-content
	background-color #eFeFeF
	padding-bottom 20px
.white-bg
	background-color white
.gains-bg
	background-color gainsboro

md-toolbar.gains-bg
	background-color gainsboro
	color black	
	
.content-side-left
	@media $screen-md
		padding 0px 15px 0px 0px
.content-side-right
	padding 0px 0px 0px 15px
	display none
	@media $screen-md
		display block
	
// img
// 	max-width:100%!important

footer
	position fixed
	bottom 0
	width 100%
	height 18px
	background-color #eFeFeF
	padding 0px 10px

