/**********************************
MEDIA QUERIES
***********************************/
$screen-xs = '(min-width:' + 481 + 'px)'
$screen-sm = '(min-width:' + 769 + 'px)'
$screen-md = '(min-width:' + 1025 + 'px)'
$screen-lg = '(min-width:' + 1281 + 'px)'

