/**********************************
MEDIA QUERIES
***********************************/
$screen-xs = '(min-width:' + 0 + 'px)'
$screen-sm = '(min-width:' + 600 + 'px)'
$screen-md = '(min-width:' + 960 + 'px)'
$screen-lg = '(min-width:' + 1200 + 'px)'


@font-face {
  font-family: 'Modesty';
  src: url('../../fonts/ModestyFreshStyle.ttf')
       url('../../fonts/ModestyFreshStyle.otf')
}

@font-face {
  font-family: 'GeoSans';
  src: url('../../fonts/GeosansLight.ttf')
}

@font-face {
  font-family: 'JennaSue';
  src: url('../../fonts/JennaSue.ttf')
}