/**********************************
MEDIA QUERIES
***********************************/
$screen-xs = '(min-width:' + 0 + 'px)'
$screen-sm = '(min-width:' + 600 + 'px)'
$screen-md = '(min-width:' + 960 + 'px)'
$screen-lg = '(min-width:' + 1200 + 'px)'

