<md-whiteframe ng-class="{true : 'header-small'}[navheight === 'small']" class="md-whiteframe-z1 main-header" layout layout-align="center center">
	<h1 class="md-display-2">Bloggy Bloggadoo</h1>
</md-whiteframe>
<md-toolbar class="md-primary" ng-class="{true : 'tool-large'}[navheight === 'large']">
	<div layout="row" layout-sm="column" layout-wrap>
		<div flex="70">
			<span>Toolbar: tall (md-accent)</span>
		</div>		
		<div flex>
			<md-input-container class="md-accent">
				<label>Search</label>
				<input ng-model="query">
			</md-input-container>
		</div>
	</div>
		
</md-toolbar>


<!--{  true:   'complete'  } [item.Id != 0]-->