<div id="hamburger-nav" ng-click="toggleNav()" flex="15" hide-gt-md>
	<i class="fa fa-bars"></i>
</div>	

<md-sidenav md-component-id="right" class="md-sidenav-right" layout-align="start center">
    <div layout="column">
		<!--<div class="text-center" flex="100"><a href="/">Home</a></div>
		<div class="text-center" flex="100">Other</div>
		<div class="text-center" flex="100">Another</div>
		<div class="text-center" flex="100">Last One</div>-->
	</div>
	
	<ng-include src="'public/templates/includes/mobilehex.html'"></ng-include>
	
</md-sidenav>




<div class="whiteframe-hex-container">
	<md-whiteframe   layout="column" class="md-whiteframe-z1 main-header" layout-align="center center">
		
		<h1 class="main-header-text text-center md-display-1"><a class="black-link" href="/">The View From Here</a></h1>
		
	</md-whiteframe>
	
	<ng-include hide show-gt-md src="'public/templates/includes/hex.html'"></ng-include>
</div>

<md-toolbar class="md-primary tool-large" layout="row" layout-align="center center" layout-md="column">
		
</md-toolbar>

<!--$mdSidenav('left').toggle()-->