<nav navheight="navheight"></nav>
<h2 class="md-title text-center">About me</h2>

<div>
		
	<p class="text-center">My name is Clarissa, and I totally do, explain it all (thank you, thank you, I'll be here all night).</p>
	<p>&nbsp;</p>
	<p class="text-center">I grew up in Florida and moved to Colorado 2 years ago with my boyfriend and our two cats. I worked in the event industry for a few years during and just after college, and eventually wound up working as an Administrative Supervisor for a Physical Therapy Clinic --- consider this blog my creative outlet in a world of healthcare regulations and insurance claims.</p>
	<p>&nbsp;</p>
	<hr>
	<p>&nbsp;</p>
	<ul>
	<li>I really love beautiful things; beautiful words, &nbsp;music that gives you goosebumps, movies or shows that bring you to tears -anything that moves your soul. These are the best things in life.&nbsp;</li>
	</ul>
	<p>&nbsp;</p>
	<ul>
	<li>At Disney World, Cinderella once told me that all little girls are princesses. I responded "Yes. And some are queens!"</li>
	</ul>
	<p>&nbsp;</p>
	<ul>
	<li>I can tie a knot in a cherry stem with my tongue. Really.&nbsp;</li>
	</ul>
	<p>&nbsp;</p>
	<ul>
	<li>I cry. Alot. At sad things, at happy things, when I'm anxious, when I'm elated. Just alot. And I'm OK with it.</li>
	</ul>
	<p>&nbsp;</p>
	<ul>
	<li>Skinny-dipping in the Caribbean with my drunk friends was one of the greatest things I have ever done.</li>
	</ul>
	<p>&nbsp;</p>
	<ul>
	<li>Rob and I met and started dating in high school, and have been together for 12 years now (I know, we're freaks of nature)</li>
	</ul>
	<p>&nbsp;</p>
	<ul>
	<li>I am one of 6 children, and we're all awesome (really - we're a bomb ass group of kids)</li>
	</ul>
	<p>&nbsp;</p>
	<ul>
	<li>I get obsessed really easily - when I find something I'm into, I get ALL into it. Infatuation at it's finest. New friends, diets, projects, games, music, career choices; I jump in with two feet at all times.</li>
	</ul>
	<p>&nbsp;</p>
	<ul>
	<li>I'm really loud, I find my own jokes funny, and I enjoy entertaining a crowd more than anything else.</li>
	</ul>
	<p>&nbsp;</p>
	<hr>
	<p>&nbsp;</p>
	<p>And in the eloquent words of those dear to me:</p>
	<p>&nbsp;</p>
	<p>"As her younger sister, you never want this bitch to be right....but this bitch is always right"&nbsp;</p>
	<p>&nbsp;&nbsp;&nbsp;&nbsp;-Ciara <i>(younger sister, talented artist and wine enthusiast)</i></p>
	<p>&nbsp;</p>
	<p>"My name is Clarissa. I like bad tv, booze, crafting and baking. And I can quote the shit out some movies"</p>
	<p>&nbsp;&nbsp;&nbsp;&nbsp;-Lindsy <i>(BFF, and fellow bad-tv watcher)</i></p>
	<p>&nbsp;</p>
	
	
</div>