<nav navheight="navheight"></nav>

<div class="page-section text-center">
    <h2 class="tag-page-header md-display-1 ">Let's Connect</h2>

    <div>

        For personal or media inquiries, sponsorship or collaboration opportunities, please contact:
        <br>
        <br> clarissa (at) theviewfromhere (dot) is

    </div>
    <div class="ad-divider top"></div>
</div>

<div class="page-section text-center">
    <h2 class="tag-page-header md-display-1 text-center">Social Media</h2>

    <div layout='row' layout-align='center'>

        <a target="_blank" href="https://www.facebook.com/theviewfromhereis/">
            <div class="post-social-icon"><i class="fa fa-facebook"></i></div>
        </a>
        <a target="_blank" href="https://www.instagram.com/clarissa_theviewfromhereis/">
            <div class="post-social-icon"><i class="fa fa-instagram"></i></div>
        </a>
        <a target="_blank" href="https://www.pinterest.com/viewfromhereis/">
            <div class="post-social-icon"><i class="fa fa-pinterest-p"></i></div>
        </a>
        <!--<a target="_blank" href="http://www.stumbleupon.com/stumbler/clarissa0924">
            <div class="post-social-icon"><i class="fa fa-stumbleupon"></i></div>
        </a>-->

    </div>
    <div class="ad-divider top"></div>
</div>