<!--<md-whiteframe class="md-whiteframe-z1 main-header" layout layout-align="center center">
	<h1>Bloggy Bloggadoo</h1>
</md-whiteframe>-->
<nav navheight="navheight"></nav>

<md-content class="md-padding" layout="column">
	
	<div flex="100" ng-repeat="post in posts">
		
		<!--Title and Preview -->
		<h3 class="home-post-title md-display-2">{{post.title}}</h3>
		<p class="home-post-preview"> 
			<span class="md-subhead" ng-bind-html="$sce.trustAsHtml(post.content.substring(0,500) + '...')"></span>
			<br>
			<a ng-href="/posts/{{post._id}}"> <span class="pull-right"> Read More</span> </a>
		</p>
		
		<!--Tag List-->
		<md-chips ng-model="post.tags" readonly="true">
			<md-chip-template>
				<p>{{$chip.name}}</p>
			</md-chip-template>
		</md-chips>
		<!--<md-divider ng-if="!$last"></md-divider>-->
	</div>
</md-content>
