<!--<md-whiteframe class="md-whiteframe-z1 main-header" layout layout-align="center center">
	<h1>Bloggy Bloggadoo</h1>
</md-whiteframe>-->
<nav navheight="navheight"></nav>


<div layout="row" flex="100">
	<div class="content-side-left" flex>
		<ng-include src="'public/templates/includes/postlist.html'"></ng-include>
			<a class="pull-left" ng-if="showNextPage" ng-href="/page/{{nextPage}}">
				<md-button class="md-raised">
					Older Posts
				</md-button>
			</a>
			<a class="pull-right" ng-if="(nextPage - 2) > 0" ng-href="/page/{{nextPage - 2}}">
				<md-button class="md-raised">
					Newer Posts
				</md-button>
			</a>
	</div>
	
	<ng-include class="content-side-right" flex="25" src="'public/templates/includes/sidenav.html'"></ng-include>
	<script async defer data-pin-hover="true" data-pin-tall="true" data-pin-round="true" src="//assets.pinterest.com/js/pinit.js"></script>
</div>

